.gameboard {
    background: black;
    height: 35em;
    margin: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.cell {
    text-align: center;
    padding-top: 2em;
    background-color: white;
    color: white;
    font-size: 2em;
}
