.gameboard{
    height: 35em;
    margin:6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell{
    text-align: center;
    padding-top: 5em;
    border: 1px green;
}